{% extends "productos/base_productos.html" %}

{% load  staticfiles %}

{% load thumbnail %}

{% load l10n %}

{% block title %}
  Sistemas web Cusco | paginas web y sistemas web creados en cusco.
{% endblock %}

{% block description %}
  Construimos Sistemas web, y diseño de paginas web, estamos en cusco. quieres una aplicacion movil, una pagina web,
  un sistema para tu empresa.
{% endblock %}

{% block content %}
  {% include "include/header.html" %}

  <!-- inico de vitrina -->
  <div class="grid-container vitrina">
    <h1 class="vitrina__title">Tenemos el proyecto que estas buscando</h1>
    <div class="vitrina-prod">
      <div class="vitrina-description">
        <div class="vitrina-description__values">
          <i class="fa fa-check-circle vitrina-description__values__icon" aria-hidden="true"></i>
          <p class="vitrina-description__values__text">Registra proveedores y compradores de productos al por mayor</p>
        </div>
        <div class="vitrina-description__values">
          <i class="fa fa-check-circle vitrina-description__values__icon" aria-hidden="true"></i>
          <p class="vitrina-description__values__text">Registra proveedores y compradores de productos al por mayor</p>
        </div>
        <div class="vitrina-description__values">
          <i class="fa fa-check-circle vitrina-description__values__icon" aria-hidden="true"></i>
          <p class="vitrina-description__values__text">Registra proveedores y compradores de productos al por mayor</p>
        </div>
        <div class="vitrina-description__values">
          <i class="fa fa-check-circle vitrina-description__values__icon" aria-hidden="true"></i>
          <p class="vitrina-description__values__text">Registra proveedores y compradores de productos al por mayor</p>
        </div>
        <div class="vitrina-description__btn">
          <a href="#" class="vitrina-description__btn__link">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
            Más del producto
          </a>
        </div>
      </div>
      <div class="vitrina-video">
        <iframe class="vitrina-video__video" src="https://www.youtube.com/embed/2UtsxD_Zi5w" frameborder="0" allowfullscreen></iframe>
        <div class="vitrina-video__footer">
          <a href="#" class="vitrina-video__footer__title">
            <i class="fa fa-chevron-circle-right vitrina__icon__play" aria-hidden="true"></i>
            Sistema web de Venta de productos al por mayor
          </a>
          <div class="vitrina-video__footer__content">
            <img src="/img/avatar.jpg" alt="" class="vitrina-video__footer__content__img">
            <p class="vitrina-video__footer__content__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="vitrina-prod">
      <div class="vitrina-description">
        <div class="vitrina-description__values">
          <i class="fa fa-check-circle vitrina-description__values__icon" aria-hidden="true"></i>
          <p class="vitrina-description__values__text">Registra proveedores y compradores de productos al por mayor</p>
        </div>
        <div class="vitrina-description__values">
          <i class="fa fa-check-circle vitrina-description__values__icon" aria-hidden="true"></i>
          <p class="vitrina-description__values__text">Registra proveedores y compradores de productos al por mayor</p>
        </div>
        <div class="vitrina-description__values">
          <i class="fa fa-check-circle vitrina-description__values__icon" aria-hidden="true"></i>
          <p class="vitrina-description__values__text">Registra proveedores y compradores de productos al por mayor</p>
        </div>
        <div class="vitrina-description__values">
          <i class="fa fa-check-circle vitrina-description__values__icon" aria-hidden="true"></i>
          <p class="vitrina-description__values__text">Registra proveedores y compradores de productos al por mayor</p>
        </div>
        <div class="vitrina-description__btn">
          <a href="#" class="vitrina-description__btn__link">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
            Más del producto
          </a>
        </div>
      </div>
      <div class="vitrina-video">
        <iframe class="vitrina-video__video" src="https://www.youtube.com/embed/2UtsxD_Zi5w" frameborder="0" allowfullscreen></iframe>
        <div class="vitrina-video__footer">
          <a href="#" class="vitrina-video__footer__title">
            <i class="fa fa-chevron-circle-right vitrina__icon__play" aria-hidden="true"></i>
            Sistema web de Venta de productos al por mayor
          </a>
          <div class="vitrina-video__footer__content">
            <img src="/img/avatar.jpg" alt="" class="vitrina-video__footer__content__img">
            <p class="vitrina-video__footer__content__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="vitrina-prod">
      <div class="vitrina-description">
        <div class="vitrina-description__values">
          <i class="fa fa-check-circle vitrina-description__values__icon" aria-hidden="true"></i>
          <p class="vitrina-description__values__text">Registra proveedores y compradores de productos al por mayor</p>
        </div>
        <div class="vitrina-description__values">
          <i class="fa fa-check-circle vitrina-description__values__icon" aria-hidden="true"></i>
          <p class="vitrina-description__values__text">Registra proveedores y compradores de productos al por mayor</p>
        </div>
        <div class="vitrina-description__values">
          <i class="fa fa-check-circle vitrina-description__values__icon" aria-hidden="true"></i>
          <p class="vitrina-description__values__text">Registra proveedores y compradores de productos al por mayor</p>
        </div>
        <div class="vitrina-description__values">
          <i class="fa fa-check-circle vitrina-description__values__icon" aria-hidden="true"></i>
          <p class="vitrina-description__values__text">Registra proveedores y compradores de productos al por mayor</p>
        </div>
        <div class="vitrina-description__btn">
          <a href="#" class="vitrina-description__btn__link">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
            Más del producto
          </a>
        </div>
      </div>
      <div class="vitrina-video">
        <iframe class="vitrina-video__video" src="https://www.youtube.com/embed/2UtsxD_Zi5w" frameborder="0" allowfullscreen></iframe>
        <div class="vitrina-video__footer">
          <a href="#" class="vitrina-video__footer__title">
            <i class="fa fa-chevron-circle-right vitrina__icon__play" aria-hidden="true"></i>
            Sistema web de Venta de productos al por mayor
          </a>
          <div class="vitrina-video__footer__content">
            <img src="/img/avatar.jpg" alt="" class="vitrina-video__footer__content__img">
            <p class="vitrina-video__footer__content__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="vitrina-prod">
      <div class="vitrina-description">
        <div class="vitrina-description__values">
          <i class="fa fa-check-circle vitrina-description__values__icon" aria-hidden="true"></i>
          <p class="vitrina-description__values__text">Registra proveedores y compradores de productos al por mayor</p>
        </div>
        <div class="vitrina-description__values">
          <i class="fa fa-check-circle vitrina-description__values__icon" aria-hidden="true"></i>
          <p class="vitrina-description__values__text">Registra proveedores y compradores de productos al por mayor</p>
        </div>
        <div class="vitrina-description__values">
          <i class="fa fa-check-circle vitrina-description__values__icon" aria-hidden="true"></i>
          <p class="vitrina-description__values__text">Registra proveedores y compradores de productos al por mayor</p>
        </div>
        <div class="vitrina-description__values">
          <i class="fa fa-check-circle vitrina-description__values__icon" aria-hidden="true"></i>
          <p class="vitrina-description__values__text">Registra proveedores y compradores de productos al por mayor</p>
        </div>
        <div class="vitrina-description__btn">
          <a href="#" class="vitrina-description__btn__link">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
            Más del producto
          </a>
        </div>
      </div>
      <div class="vitrina-video">
        <iframe class="vitrina-video__video" src="https://www.youtube.com/embed/2UtsxD_Zi5w" frameborder="0" allowfullscreen></iframe>
        <div class="vitrina-video__footer">
          <a href="#" class="vitrina-video__footer__title">
            <i class="fa fa-chevron-circle-right vitrina__icon__play" aria-hidden="true"></i>
            Sistema web de Venta de productos al por mayor
          </a>
          <div class="vitrina-video__footer__content">
            <img src="/img/avatar.jpg" alt="" class="vitrina-video__footer__content__img">
            <p class="vitrina-video__footer__content__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="vitrina-prod">
      <div class="vitrina-description">
        <div class="vitrina-description__values">
          <i class="fa fa-check-circle vitrina-description__values__icon" aria-hidden="true"></i>
          <p class="vitrina-description__values__text">Registra proveedores y compradores de productos al por mayor</p>
        </div>
        <div class="vitrina-description__values">
          <i class="fa fa-check-circle vitrina-description__values__icon" aria-hidden="true"></i>
          <p class="vitrina-description__values__text">Registra proveedores y compradores de productos al por mayor</p>
        </div>
        <div class="vitrina-description__values">
          <i class="fa fa-check-circle vitrina-description__values__icon" aria-hidden="true"></i>
          <p class="vitrina-description__values__text">Registra proveedores y compradores de productos al por mayor</p>
        </div>
        <div class="vitrina-description__values">
          <i class="fa fa-check-circle vitrina-description__values__icon" aria-hidden="true"></i>
          <p class="vitrina-description__values__text">Registra proveedores y compradores de productos al por mayor</p>
        </div>
        <div class="vitrina-description__btn">
          <a href="#" class="vitrina-description__btn__link">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
            Más del producto
          </a>
        </div>
      </div>
      <div class="vitrina-video">
        <iframe class="vitrina-video__video" src="https://www.youtube.com/embed/2UtsxD_Zi5w" frameborder="0" allowfullscreen></iframe>
        <div class="vitrina-video__footer">
          <a href="#" class="vitrina-video__footer__title">
            <i class="fa fa-chevron-circle-right vitrina__icon__play" aria-hidden="true"></i>
            Sistema web de Venta de productos al por mayor
          </a>
          <div class="vitrina-video__footer__content">
            <img src="/img/avatar.jpg" alt="" class="vitrina-video__footer__content__img">
            <p class="vitrina-video__footer__content__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- fin de vitrina -->

  {% include "include/footer.html" %}

{% endblock %}
