{% extends "cotizacion/base_cotizacion.html" %}

{% load  staticfiles %}

{% load thumbnail %}

{% load l10n %}

{% block title %}
  Sistemas web Cusco | realiza la cotizacion de tu pagina web y la cotizacion de tu sistema web.
{% endblock %}

{% block description %}
  Construimos Sistemas web, y diseño de paginas web, estamos en cusco. quieres una aplicacion movil, una pagina web,
  un sistema para tu empresa.
{% endblock %}

{% block content %}
  {% include "include/header.html" %}

  <!-- Inicio de cotizacion-->
  <!-- banner de cotizacion-->
  <div class="banner-cotizacion">
    <img src="{% static 'img/banner.jpg' %}" alt="" class="banner-cotizacion__fondo">
    <div class="banner-cotizacion__experts">
      <div class="banner-cotizacion__experts__info">
        <h2 class="banner-cotizacion__experts__info__title">Hablar con un especialista</h2>
        <p class="banner-cotizacion__experts__info__text">
          Tambien puedes contactar directamente con nuestrtos espcialistas, escribiendo un correo, nuestros especialistas te atenderan de inmediato.
        </p>
      </div>
      <div class="banner-cotizacion__experts__item">
        <img src="{% static 'img/sa.jpg' %}" alt="" class="banner-cotizacion__experts__item__img">
        <h4 class="banner-cotizacion__experts__item__title">Softare a Medida</h4>
        <p class="banner-cotizacion__experts__item__email">daniel@neunapp.com</p>
      </div>
      <div class="banner-cotizacion__experts__item">
        <img src="{% static 'img/pw.png' %}" alt="" class="banner-cotizacion__experts__item__img">
        <h4 class="banner-cotizacion__experts__item__title">Diseño Paginas Web</h4>
        <p class="banner-cotizacion__experts__item__email">henrry@neunapp.com</p>
      </div>
      <div class="banner-cotizacion__experts__item">
        <img src="{% static 'img/apps2.png' %}" alt="" class="banner-cotizacion__experts__item__img">
        <h4 class="banner-cotizacion__experts__item__title">Aplicaciones moviles</h4>
        <p class="banner-cotizacion__experts__item__email">anibal@neunapp.com</p>
      </div>
    </div>
  </div>
  <!-- banner de cotizacion-->

<app>
  <div class="grid-container">
    <!-- cotizacion-header -->
    <div class="grid-x align-center cotizacion-header">
      <h1 class="cotizacion-header__title">¿Cuanto cuesta mi proyecto?</h1>
      <div class="cell cotizacion-header__amount">
        <p class="cotizacion-header__amount__title">Monto Aproximado:</p>
        <p class="cotizacion-header__amount__total"> S/. {$ monto_cotizacion $}</p>
      </div>
    </div>
    <!-- fin cotizacion-header -->

    <div v-if="!culminado" class="grid-x align-center cotizacion-questions">
      <h2 v-if="question" class="cotizacion-questions__title">{$ question.question $}</h2>
      <p v-if="question" class="cell cotizacion-questions__subtitle">{$ question.description $}</p>
      <div v-for="(answer, index) in answers" class="cell small-12 medium-6 large-5 cotizacion-questions__answer">
        <img class="questions__answer__img" v-bind:src="answer.image" v-bind:alt="answer.name">
        <div v-bind:class="answer.estilo">
          <p class="questions__answer__content__title">{$ answer.answer $}</p>
          <p class="questions__answer__content__description">
            {$ answer.description $}
          </p>
          <a v-if="answer.amount >= 0" v-on:click="nueva_pregunta(answer)" class="questions__answer__content__link"><i class="fa fa-plus answer-icon" aria-hidden="true"></i>{$ answer.amount $}</a>
          <a v-else v-on:click="nueva_pregunta(answer)" class="questions__answer__content__link"><i class="fa fa-plus answer-icon" aria-hidden="true"></i> Comenzar</a>
        </div>
      </div>
    </div>
    <!-- solicitar cita -->
    <div v-else class="grid-x align-center">
      <div class="cell samll-12 large-6">
        <div class="grid-x grid-margin-x align-center cotizacion-solicitud">
          <h2 class="cotizacion-solicitud__title">Si está interesado en negociar un proyecto similar, envíanos una solicitud y te atenderemos.</h2>
          <div class="cell small-12 large-6">
            <input v-model="email" type="email" placeholder="Correo Electronico" />
          </div>
          <div class="cell small-12 large-6">
            <input v-model="phone" type="text" placeholder="Telefonos/Celular" />
          </div>
          <div class="cell small-12">
            <textarea v-model="message" name="mensjae" rows="3" placeholder="Descripcion de su empresa"></textarea>
          </div>
          <div class="cell shrink">
            <button v-on:click="enviar_solicitud()" type="button" class="cotizacion-solicitud__btn" name="button">Reservar Cita</button>
          </div>
        </div>
      </div>
    </div>
    <!-- fin solicitar cita -->
  </div>
  <!-- fin de cotizacion-->
</app>

  {% include "include/footer.html" %}

{% endblock %}
