<div class="footer">
  <h5 class="footer__title">Puede contactar con neunapp por medio de nuestra redes sociales</h5>
  <div class="grid-x grid-margin-x align-center">
    <div class="cell shrink">
      <a target="_blank" href="https://www.facebook.com/Neunapp-954270137941159/?ref=aymt_homepage_panel" class="footer__btn__principal">
        <i class="fa fa-facebook-square fa-2x footer__icon" aria-hidden="true"></i>
        Facebook
      </a>
    </div>
    <div class="cell shrink">
      <a target="_blank" href="https://www.youtube.com/channel/UCcZoaMlaUXf_0KFXrEWt2Ww/videos?view_as=subscriber" class="footer__btn__secundario">
        <i class="fa fa-youtube-square fa-2x footer__icon" aria-hidden="true"></i>
        Youtube
      </a>
    </div>
  </div>
</div>
