<div class="footer">
  <h5 class="footer__title">Puede contactar con neunapp por medio de nuestra redes sociales</h5>
  <div class="grid-x grid-margin-x align-center">
    <div class="cell shrink">
      <a href="#" class="footer__btn__principal">
        <i class="fa fa-facebook-square fa-2x footer__icon" aria-hidden="true"></i>
        Facebook
      </a>
    </div>
    <div class="cell shrink">
      <a href="#" class="footer__btn__secundario">
        <i class="fa fa-youtube-square fa-2x footer__icon" aria-hidden="true"></i>
        Youtube
      </a>
    </div>
  </div>
</div>
