<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog {{ object.name }}</title>
</head>
<body>

<h1>{{ object.title }}</h1>
<p>{{ object.image }}</p>
-------------------------------
<p>{{ object.description }}</p>
----------------------------
<p>{{ object.content }}</p>
---------------------
<p>{{ object.score }}</p>
---------------------
<p>{{ object.author }}</p>

<form action="#" method="POST">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Send request">
</form>

{% for c in commentary  %}
    <p>Fecha de creacion: {{ c.created }}</p>
   <p>Apodo: {{ c.nick }}</p>
   <p>Comentario: {{ c.description }} </p>
    -----------------------------------------------
{% endfor %}

</body>
</html>