{% extends "blog/base_blog.html" %}

{% load  staticfiles %}

{% load thumbnail %}

{% load l10n %}

{% block title %}
  Sistemas web Cusco | {{object.title}}
{% endblock %}

{% block description %}
  {{ object.description }}
{% endblock %}

{% block tags %} {% for tag in blog.tag.all %}{{tag}}, {% endfor %} {% endblock tags %}

{% block content %}
  {% include "include/header.html" %}

  <!-- Inicio detalle blog -->
  <div class="grid-container blog-detail">
    <div class="grid-x align-center blog-detail__header">
      <div class="cell small-12 medium-6 blog-detail__header__fondo">
        <img src="{{object.image.url}}" alt="" class="blog-detail__header__fondo__img">
      </div>
      <div class="cell small-12 medium-6 blog-detail__header__content">
        <p class="blog-detail__header__content__title">{{object.title}}</p>
        <p class="blog-detail__header__content__author">Autor: {{object.author}}</p>
        <p class="blog-detail__header__content__text">
          {{object.description}}
        </p>
      </div>
    </div>

    <div class="grid-x align-center">
      <div class="cell blog-detail-resume">
        {{object.content|safe}}
      </div>
    </div>

    <!-- suscription -->
    <div class="blog-suscription">
      <p class="cell blog-detail__suscription__title">Dejanos tu correo y enterate de mas de estos articulos:</p>
      <form class="blog-detail__suscription"method="post">{% csrf_token %}
        {{form.email}}
        <input type="submit" class="blog-detail__suscription__btn" name="suscripcion" value="Suscribirme">
      </form>
    </div>

    <!-- fin suscripton -->

    <div class="grid-x grid-margin-x align-center">
      {% for tag in blog.tag.all %}
      <div class="shrink cell">
        <a href="#" class="blog-detail-tag">{{tag.name}}</a>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- Fin detalle blog -->

  {% include "include/footer.html" %}
{% endblock %}
