<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form  method="get">{% csrf_token %}
      {{form.kword}}
    <button type="submit">Buscar</button>
</form>

<h1>lista de resultados</h1>
{% for c in categorias  %}
    <a href="#">
        {{ c.name }}
    </a>
    -----------------------------------------------
{% endfor %}
{% for b in blogs  %}
    <p>
        {{ b.image }}
    </p>
    <a href="{% url 'blog_app:blog-detail' b.category.slug b.slug %}">
        {{ b.title }}
    </a>
    -----------------------------------------------
{% endfor %}


</body>
</html>