<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neunapp Desarrollo de software cusco</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/foundation.min.js"></script>
  </head>
  <body>
    <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
      <div class="title-bar-title">Menu</div>
    </div>

    <div class="top-bar header" id="responsive-menu">
      <div class="top-bar-left header-left">
        <ul class="menu">
          <h1 class="header__logo">
            <a href="#" class="header__logo__link">Neunapp</a>
          </h1>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu__item">
            <a href="#" class="menu__item__link">Cotizacion</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__item__link">Vitrina</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__item__link">Blog</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__item__link">Clientes</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__item__link">Cita</a>
          </li>
        </ul>
      </div>
    </div>


    <!-- Inicio de cotizacion-->
    <!-- banner de cotizacion-->
    <div class="banner-cotizacion">
      <img src="/img/banner.jpg" alt="" class="banner-cotizacion__fondo">
      <div class="banner-cotizacion__experts">
        <div class="banner-cotizacion__experts__info">
          <h2 class="banner-cotizacion__experts__info__title">Hablar con un especialista</h2>
          <p class="banner-cotizacion__experts__info__text">
            Tambien puedes contactar directamente con nuestrtos espcialistas, escribiendo un correo, nuestros especialistas te atenderan de inmediato.
          </p>
        </div>
        <div class="banner-cotizacion__experts__item">
          <img src="/img/sa.jpg" alt="" class="banner-cotizacion__experts__item__img">
          <h4 class="banner-cotizacion__experts__item__title">Softare a Medida</h4>
          <p class="banner-cotizacion__experts__item__email">daniel@neunapp.com</p>
        </div>
        <div class="banner-cotizacion__experts__item">
          <img src="/img/pw.png" alt="" class="banner-cotizacion__experts__item__img">
          <h4 class="banner-cotizacion__experts__item__title">Diseño Paginas Web</h4>
          <p class="banner-cotizacion__experts__item__email">henrry@neunapp.com</p>
        </div>
        <div class="banner-cotizacion__experts__item">
          <img src="/img/apps2.png" alt="" class="banner-cotizacion__experts__item__img">
          <h4 class="banner-cotizacion__experts__item__title">Aplicaciones moviles</h4>
          <p class="banner-cotizacion__experts__item__email">anibal@neunapp.com</p>
        </div>
      </div>
    </div>
    <!-- banner de cotizacion-->

    <div class="grid-container">
      <!-- cotizacion-header -->
      <div class="grid-x align-center cotizacion-header">
        <h1 class="cotizacion-header__title">¿Cuanto cuesta mi proyecto?</h1>
        <div class="cell cotizacion-header__amount">
          <p class="cotizacion-header__amount__title">Monto Aproximado:</p>
          <p class="cotizacion-header__amount__total"> S/. 20000</p>
        </div>
      </div>
      <!-- fin cotizacion-header -->

      <div class="grid-x align-center cotizacion-questions">
        <h2 class="cotizacion-questions__title">¿Para que tipo de empresa quiere el proyecto?</h2>
        <p class="cell cotizacion-questions__subtitle">Dependiendo del rubro o la necesidad de su empresa seleccione la opcion que mas se asemeje</p>
        <div class="cell small-12 medium-6 large-5 cotizacion-questions__answer">
          <img class="questions__answer__img" src="/img/c1.jpg" alt="">
          <div class="questions__answer__content first-answer">
            <p class="questions__answer__content__title">Pagina web para marketing</p>
            <p class="questions__answer__content__description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
            </p>
            <a href="#" class="questions__answer__content__link"><i class="fa fa-plus answer-icon" aria-hidden="true"></i> S/. 900</a>
          </div>
        </div>
        <div class="cell small-12 medium-6 large-5 cotizacion-questions__answer">
          <img class="questions__answer__img" src="/img/c2.png" alt="">
          <div class="questions__answer__content second-answer">
            <p class="questions__answer__content__title">Pagina web para marketing</p>
            <p class="questions__answer__content__description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
            </p>
            <a href="#" class="questions__answer__content__link"><i class="fa fa-plus answer-icon" aria-hidden="true"></i> S/. 900</a>
          </div>
        </div>
        <div class="cell small-12 medium-6 large-5 cotizacion-questions__answer">
          <img class="questions__answer__img" src="/img/c3.png" alt="">
          <div class="questions__answer__content third-answer">
            <p class="questions__answer__content__title">Pagina web para marketing</p>
            <p class="questions__answer__content__description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
            </p>
            <a href="#" class="questions__answer__content__link"><i class="fa fa-plus answer-icon" aria-hidden="true"></i> S/. 12900</a>
          </div>
        </div>
        <div class="cell small-12 medium-6 large-5 cotizacion-questions__answer">
          <img class="questions__answer__img" src="/img/c4.jpg" alt="">
          <div class="questions__answer__content forth-answer">
            <p class="questions__answer__content__title">Pagina web para marketing</p>
            <p class="questions__answer__content__description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
            </p>
            <a href="#" class="questions__answer__content__link"><i class="fa fa-plus answer-icon" aria-hidden="true"></i> S/. 900</a>
          </div>
        </div>
      </div>
    </div>
    <!-- fin de cotizacion-->


    <div class="footer">
      <h5 class="footer__title">Puede contactar con neunapp por medio de nuestra redes sociales</h5>
      <div class="grid-x grid-margin-x align-center">
        <div class="cell shrink">
          <a href="#" class="footer__btn__principal">
            <i class="fa fa-facebook-square fa-2x footer__icon" aria-hidden="true"></i>
            Facebook
          </a>
        </div>
        <div class="cell shrink">
          <a href="#" class="footer__btn__secundario">
            <i class="fa fa-youtube-square fa-2x footer__icon" aria-hidden="true"></i>
            Youtube
          </a>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="/js/app.js"></script>
</html>
