<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neunapp Desarrollo de software cusco</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/foundation.min.js"></script>
  </head>
  <body>
    <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
      <div class="title-bar-title">Menu</div>
    </div>

    <div class="top-bar header" id="responsive-menu">
      <div class="top-bar-left header-left">
        <ul class="menu">
          <h1 class="header__logo">
            <a href="#" class="header__logo__link">Neunapp</a>
          </h1>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu__item">
            <a href="#" class="menu__item__link">Cotizacion</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__item__link">Vitrina</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__item__link">Blog</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__item__link">Clientes</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__item__link">Cita</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- inico de vitrina -->
    <div class="grid-container vitrina">
      <h1 class="vitrina__title">Tenemos el proyecto que estas buscando</h1>
      <div class="vitrina-prod">
        <div class="vitrina-description">
          <div class="vitrina-description__values">
            <i class="fa fa-check-circle vitrina-description__values__icon" aria-hidden="true"></i>
            <p class="vitrina-description__values__text">Registra proveedores y compradores de productos al por mayor</p>
          </div>
          <div class="vitrina-description__values">
            <i class="fa fa-check-circle vitrina-description__values__icon" aria-hidden="true"></i>
            <p class="vitrina-description__values__text">Registra proveedores y compradores de productos al por mayor</p>
          </div>
          <div class="vitrina-description__values">
            <i class="fa fa-check-circle vitrina-description__values__icon" aria-hidden="true"></i>
            <p class="vitrina-description__values__text">Registra proveedores y compradores de productos al por mayor</p>
          </div>
          <div class="vitrina-description__values">
            <i class="fa fa-check-circle vitrina-description__values__icon" aria-hidden="true"></i>
            <p class="vitrina-description__values__text">Registra proveedores y compradores de productos al por mayor</p>
          </div>
          <div class="vitrina-description__btn">
            <a href="#" class="vitrina-description__btn__link">
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
              Más del producto
            </a>
          </div>
        </div>
        <div class="vitrina-video">
          <iframe class="vitrina-video__video" src="https://www.youtube.com/embed/2UtsxD_Zi5w" frameborder="0" allowfullscreen></iframe>
          <div class="vitrina-video__footer">
            <a href="#" class="vitrina-video__footer__title">
              <i class="fa fa-chevron-circle-right vitrina__icon__play" aria-hidden="true"></i>
              Sistema web de Venta de productos al por mayor
            </a>
            <div class="vitrina-video__footer__content">
              <img src="/img/avatar.jpg" alt="" class="vitrina-video__footer__content__img">
              <p class="vitrina-video__footer__content__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="vitrina-prod">
        <div class="vitrina-description">
          <div class="vitrina-description__values">
            <i class="fa fa-check-circle vitrina-description__values__icon" aria-hidden="true"></i>
            <p class="vitrina-description__values__text">Registra proveedores y compradores de productos al por mayor</p>
          </div>
          <div class="vitrina-description__values">
            <i class="fa fa-check-circle vitrina-description__values__icon" aria-hidden="true"></i>
            <p class="vitrina-description__values__text">Registra proveedores y compradores de productos al por mayor</p>
          </div>
          <div class="vitrina-description__values">
            <i class="fa fa-check-circle vitrina-description__values__icon" aria-hidden="true"></i>
            <p class="vitrina-description__values__text">Registra proveedores y compradores de productos al por mayor</p>
          </div>
          <div class="vitrina-description__values">
            <i class="fa fa-check-circle vitrina-description__values__icon" aria-hidden="true"></i>
            <p class="vitrina-description__values__text">Registra proveedores y compradores de productos al por mayor</p>
          </div>
          <div class="vitrina-description__btn">
            <a href="#" class="vitrina-description__btn__link">
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
              Más del producto
            </a>
          </div>
        </div>
        <div class="vitrina-video">
          <iframe class="vitrina-video__video" src="https://www.youtube.com/embed/2UtsxD_Zi5w" frameborder="0" allowfullscreen></iframe>
          <div class="vitrina-video__footer">
            <a href="#" class="vitrina-video__footer__title">
              <i class="fa fa-chevron-circle-right vitrina__icon__play" aria-hidden="true"></i>
              Sistema web de Venta de productos al por mayor
            </a>
            <div class="vitrina-video__footer__content">
              <img src="/img/avatar.jpg" alt="" class="vitrina-video__footer__content__img">
              <p class="vitrina-video__footer__content__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="vitrina-prod">
        <div class="vitrina-description">
          <div class="vitrina-description__values">
            <i class="fa fa-check-circle vitrina-description__values__icon" aria-hidden="true"></i>
            <p class="vitrina-description__values__text">Registra proveedores y compradores de productos al por mayor</p>
          </div>
          <div class="vitrina-description__values">
            <i class="fa fa-check-circle vitrina-description__values__icon" aria-hidden="true"></i>
            <p class="vitrina-description__values__text">Registra proveedores y compradores de productos al por mayor</p>
          </div>
          <div class="vitrina-description__values">
            <i class="fa fa-check-circle vitrina-description__values__icon" aria-hidden="true"></i>
            <p class="vitrina-description__values__text">Registra proveedores y compradores de productos al por mayor</p>
          </div>
          <div class="vitrina-description__values">
            <i class="fa fa-check-circle vitrina-description__values__icon" aria-hidden="true"></i>
            <p class="vitrina-description__values__text">Registra proveedores y compradores de productos al por mayor</p>
          </div>
          <div class="vitrina-description__btn">
            <a href="#" class="vitrina-description__btn__link">
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
              Más del producto
            </a>
          </div>
        </div>
        <div class="vitrina-video">
          <iframe class="vitrina-video__video" src="https://www.youtube.com/embed/2UtsxD_Zi5w" frameborder="0" allowfullscreen></iframe>
          <div class="vitrina-video__footer">
            <a href="#" class="vitrina-video__footer__title">
              <i class="fa fa-chevron-circle-right vitrina__icon__play" aria-hidden="true"></i>
              Sistema web de Venta de productos al por mayor
            </a>
            <div class="vitrina-video__footer__content">
              <img src="/img/avatar.jpg" alt="" class="vitrina-video__footer__content__img">
              <p class="vitrina-video__footer__content__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="vitrina-prod">
        <div class="vitrina-description">
          <div class="vitrina-description__values">
            <i class="fa fa-check-circle vitrina-description__values__icon" aria-hidden="true"></i>
            <p class="vitrina-description__values__text">Registra proveedores y compradores de productos al por mayor</p>
          </div>
          <div class="vitrina-description__values">
            <i class="fa fa-check-circle vitrina-description__values__icon" aria-hidden="true"></i>
            <p class="vitrina-description__values__text">Registra proveedores y compradores de productos al por mayor</p>
          </div>
          <div class="vitrina-description__values">
            <i class="fa fa-check-circle vitrina-description__values__icon" aria-hidden="true"></i>
            <p class="vitrina-description__values__text">Registra proveedores y compradores de productos al por mayor</p>
          </div>
          <div class="vitrina-description__values">
            <i class="fa fa-check-circle vitrina-description__values__icon" aria-hidden="true"></i>
            <p class="vitrina-description__values__text">Registra proveedores y compradores de productos al por mayor</p>
          </div>
          <div class="vitrina-description__btn">
            <a href="#" class="vitrina-description__btn__link">
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
              Más del producto
            </a>
          </div>
        </div>
        <div class="vitrina-video">
          <iframe class="vitrina-video__video" src="https://www.youtube.com/embed/2UtsxD_Zi5w" frameborder="0" allowfullscreen></iframe>
          <div class="vitrina-video__footer">
            <a href="#" class="vitrina-video__footer__title">
              <i class="fa fa-chevron-circle-right vitrina__icon__play" aria-hidden="true"></i>
              Sistema web de Venta de productos al por mayor
            </a>
            <div class="vitrina-video__footer__content">
              <img src="/img/avatar.jpg" alt="" class="vitrina-video__footer__content__img">
              <p class="vitrina-video__footer__content__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="vitrina-prod">
        <div class="vitrina-description">
          <div class="vitrina-description__values">
            <i class="fa fa-check-circle vitrina-description__values__icon" aria-hidden="true"></i>
            <p class="vitrina-description__values__text">Registra proveedores y compradores de productos al por mayor</p>
          </div>
          <div class="vitrina-description__values">
            <i class="fa fa-check-circle vitrina-description__values__icon" aria-hidden="true"></i>
            <p class="vitrina-description__values__text">Registra proveedores y compradores de productos al por mayor</p>
          </div>
          <div class="vitrina-description__values">
            <i class="fa fa-check-circle vitrina-description__values__icon" aria-hidden="true"></i>
            <p class="vitrina-description__values__text">Registra proveedores y compradores de productos al por mayor</p>
          </div>
          <div class="vitrina-description__values">
            <i class="fa fa-check-circle vitrina-description__values__icon" aria-hidden="true"></i>
            <p class="vitrina-description__values__text">Registra proveedores y compradores de productos al por mayor</p>
          </div>
          <div class="vitrina-description__btn">
            <a href="#" class="vitrina-description__btn__link">
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
              Más del producto
            </a>
          </div>
        </div>
        <div class="vitrina-video">
          <iframe class="vitrina-video__video" src="https://www.youtube.com/embed/2UtsxD_Zi5w" frameborder="0" allowfullscreen></iframe>
          <div class="vitrina-video__footer">
            <a href="#" class="vitrina-video__footer__title">
              <i class="fa fa-chevron-circle-right vitrina__icon__play" aria-hidden="true"></i>
              Sistema web de Venta de productos al por mayor
            </a>
            <div class="vitrina-video__footer__content">
              <img src="/img/avatar.jpg" alt="" class="vitrina-video__footer__content__img">
              <p class="vitrina-video__footer__content__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- fin de vitrina -->

  </body>
  <script type="text/javascript" src="/js/app.js"></script>
</html>
