{% extends "home/base_home.html" %}

{% load  staticfiles %}

{% load thumbnail %}

{% load l10n %}

{% block title %}
  Sistemas web Cusco | desarrollo de sistemas web | diseño de paginas web en cusco
{% endblock %}

{% block description %}
  Construimos Sistemas web, y diseño de paginas web, estamos en cusco. quieres una aplicacion movil, una pagina web,
  un sistema para tu empresa.
{% endblock %}

{% block content %}
  {% include "include/header.html" %}

  <!-- Inicio de banner  -->
  <div class="banner">
    <div class="orbit banner-container" role="region" aria-label="Favorite Space Pictures" data-orbit>
      <div class="orbit-wrapper">
        <ul class="orbit-container">
          <li class="is-active orbit-slide">
            <figure class="orbit-figure">
              <img class="orbit-image banner-img" src="{% static 'img/3.jpg' %}" alt="Sistemas web cusco">
            </figure>
          </li>
        </ul>
      </div>
    </div>
    <div class="banner__copy">
        <h1 class="banner__copy__title">Desarrollo de sistemas web.</h1>
        <p class="banner__copy__text">Hagamos que el internet sea mucho más que una pagina web.</p>
        <div class="banner__copy__controls">
          <a href="#" class="banner__copy__controls__btn principal">
            <i class="fa fa-handshake-o" aria-hidden="true"></i>
            Quiero Una Cita
          </a>
          <a href="{% url 'cotizacion_app:cotizacion-index' %}" class="banner__copy__controls__btn secundario">
            <i class="fa fa-cart-plus" aria-hidden="true"></i>
            Cotizaciones
          </a>
        </div>
      </div>
    </div>
  </div>
  <!--  fin de banner -->

  <!-- Servicios -->
  <div class="grid-x align-center services">
    <div class="cell small-12 medium-4 large-3 services__item">
      <i class="fa fa-desktop fa-5x services__icon" aria-hidden="true"></i>
      <p class="services__item__title">Software a medida</p>
      <p class="services__item__description">Construyamos juntos el software que mejor encaja con sus clientes y su trabajo.</p>
    </div>
    <div class="cell small-12 medium-4 large-3 services__item">
      <i class="fa fa-diamond fa-5x services__icon" aria-hidden="true"></i>
      <p class="services__item__title">Diseño agradable</p>
      <p class="services__item__description">Sus herramientas de trabajo son tambien parte de su empresa. hagamos que se vean bien.</p>
    </div>
    <div class="cell small-12 medium-4 large-3 services__item">
      <i class="fa fa-check fa-5x services__icon" aria-hidden="true"></i>
      <p class="services__item__title">Carga Rapida</p>
      <p class="services__item__description">Que la estadia de sus clientes en su plataforma web, sea agradable, y no molesta por cargas lentas.</p>
    </div>
  </div>
  <!-- fin de servicios -->

  <!-- Productos-->
  <div class="grid-x align-center prods">
    <div class="cell small-12 large-5 prods__content">
      <p class="prods__content__title">{{producto_1.name}}</p>
      <p class="prods__content__text">
        {{producto_1.description_show}}
      </p>
      <div class="prods__content__btns">
        <a class="prods__content__btns__item secundario" href="{% url 'productos_app:productos-detail' producto_1.slug %}">
          <i class="fa fa-play-circle-o fa-1x prods__icon" aria-hidden="true"></i>
          Ver Producto
        </a>
        <a class="prods__content__btns__item principal" href="#">
          <i class="fa fa-pencil-square fa-1x prods__icon" aria-hidden="true"></i>
          Cotizacion
        </a>
      </div>
    </div>
    <div class="cell small-12 large-5 prods__image">
      <img class="prods__image__img" src="{{producto_1.image.url}}" alt="{{producto_2.name}}">
    </div>
  </div>

  <div class="grid-x align-center prods grid-secondary">
    <div class="cell small-12 large-5 prods__content">
      <p class="prods__content__title">{{producto_2.name}}</p>
      <p class="prods__content__text">
        {{producto_2.description_show}}
      </p>
      <div class="prods__content__btns">
        <a class="prods__content__btns__item secundario" href="{% url 'productos_app:productos-detail' producto_2.slug %}">
          <i class="fa fa-play-circle-o fa-1x prods__icon" aria-hidden="true"></i>
          Ver Producto
        </a>
        <a class="prods__content__btns__item principal" href="#">
          <i class="fa fa-pencil-square fa-1x prods__icon" aria-hidden="true"></i>
          Cotizacion
        </a>
      </div>
    </div>
    <div class="cell small-12 large-5 prods__image">
      <img class="prods__image__img" src="{{producto_2.image.url}}" alt="{{producto_2.name}}">
    </div>
  </div>

  <div class="grid-x align-center prods">
    <div class="cell small-12 large-5 prods__content">
      <p class="prods__content__title">{{producto_3.name}}</p>
      <p class="prods__content__text">
        {{producto_3.description_show}}
      </p>
      <div class="prods__content__btns">
        <a class="prods__content__btns__item secundario" href="{% url 'productos_app:productos-detail' producto_3.slug %}">
          <i class="fa fa-play-circle-o fa-1x prods__icon" aria-hidden="true"></i>
          Ver Producto
        </a>
        <a class="prods__content__btns__item principal" href="#">
          <i class="fa fa-pencil-square fa-1x prods__icon" aria-hidden="true"></i>
          Cotizacion
        </a>
      </div>
    </div>
    <div class="cell small-12 large-5 prods__image">
      <img class="prods__image__img" src="{{producto_3.image.url}}" alt="{{producto_3.name}}">
    </div>
  </div>

  <div class="grid-x align-center prods grid-secondary">
    <div class="cell small-12 large-5 prods__content">
      <p class="prods__content__title">{{producto_4.name}}</p>
      <p class="prods__content__text">
        {{producto_4.description_show}}
      </p>
      <div class="prods__content__btns">
        <a class="prods__content__btns__item secundario" href="{% url 'productos_app:productos-detail' producto_4.slug %}">
          <i class="fa fa-play-circle-o fa-1x prods__icon" aria-hidden="true"></i>
          Ver Producto
        </a>
        <a class="prods__content__btns__item principal" href="#">
          <i class="fa fa-pencil-square fa-1x prods__icon" aria-hidden="true"></i>
          Cotizacion
        </a>
      </div>
    </div>
    <div class="cell small-12 large-5 prods__image">
      <img class="prods__image__img" src="{{producto_4.image.url}}" alt="{{producto_4.name}}">
    </div>
  </div>
  <!-- fin de productos-->

  <!-- suscripcion -->
  <div class="suscription">
    <p class="suscription__title">Suscribete y recibe noticias sobre software y actualidad</p>
    <form class="suscription__form" method="post">{% csrf_token %}
      {{form.email}}
      <input type="submit" class="suscription__form__btn" value="Suscribirme">
    </form>
  </div>
  <!-- fin suscripcion -->

  <!-- blog recientes -->
  <div class="grid-x align-center recents">
    {% for blog in blogs  %}
      <div class="cell small-12 large-3 recents__item">
        <img class="recents__item__img" src="{{blog.image.url}}" alt="">
        <a href="{% url 'blog_app:blog-detail' blog.slug %}" class="recents__item__title">{{blog.title}}</a>
        <p class="recents__item__text">
          {{blog.description|truncatechars_html:150}}
        </p>
      </div>
    {% endfor %}
  </div>
  <!-- fin blog recientes -->
  {% include "include/footer.html" %}

{% endblock %}
