.vitrina {
  padding: {
    top: 2em;
    left: 4em;
    right: 4em;
  }
  @include hasta(1024px){
    padding: {
      top: 2em;
      left: 1em;
      right: 1em;
    }
  };
  &__title{
    border-bottom: 2px solid;
    border-color: color(tercero);
    font-family: $font-title;
    font-size: 2em;
    color: color(tercero);
    font-weight: bold;
    margin-bottom: 1em;
  }
}
