.vitrina-detail__video {
  padding: 1em;
  @include hasta(640px){
    padding: {
      left: 0.2em;
      right: 0.2em;
    }
  };
  &__video{
    width: 100%;
    height: 300px;
  }
}

.vitrina-detail__description {
  padding: 1em;
  &__item{
    font-size: $font-title;
    color: color(tercero);
    &__title{
      color: color(primero);
      text-align: center;
      font-size: 1.3em;
      font-weight: bold;
      border: 1px solid;
      border-radius: 10px;
      margin-bottom: 0.3em;
    }
  }
}

.vitrina-detail__comentarys{
  padding: 2em;
  @include hasta(640px){
    display: none;
  };
}

.vitrina-detail__comentary {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  border: 1px solid;
  border-color: color(primero);
  border-radius: 10px;
  margin-bottom: 1em;
  &__img{
    margin: 0px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
  }
  &__text{
    margin-left: 1em;
  }
}

.vitrina-detail__resume {
  padding: {
    left: 15%;
    right: 15%;
    top: 1em;
    bottom: 2em;
  };
  font-family: $font-title;
  color: color(tercero);
  @include hasta(640px){
    padding: {
      left: 0.5em;
      right: 0.5em;
      top: 1em;
      bottom: 2em;
    };
  };
}
