.blog {
  padding: 1em;
  color: color(tercero);
  &__title{
    text-align: center;
    font-size: 2em;
    margin-bottom: 1.5em;
    font-weight: bold;
    font-family: $font-text;
  }
}

.blog-item {
  text-align: center;
  margin-bottom: 2em;
  &__img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 1em;
  }
  &__title{
    font-size: 1.5em;
    font-family: $font-title;
  }
}

.blog-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
  &__input{
    width: 50%;
    margin: 0px;
    @include hasta(1000px){
      width: 80%;
    };
  }
  &__btn{
    background: color(sexto);
    border: none;
    color: color(blanco);
    padding: {
      top:0.65em;
      bottom: 0.65em;
      left: 1em;
      right: 1em;
    }
    &:hover{
      cursor: pointer;
      background: color(primero);
    }
  }
}
