.blog-detail {
  padding: 2em;
  font-family: $font-title;
  &__header{
    &__fondo{
      padding: {
        left: 1em;
        right: 1em;
      };
      &__img{
        margin: 0px;
        width: 100%;
        height: 250px;
      }
    }
    &__content{
      padding: {
        left: 1em;
        right: 1em;
      };
      color: color(tercero);
      &__title{
        font-weight: bold;
        font-size: 1.3em;
      }
      &__author{
        font-family: $font-text;
      }
    }
  }
}

.blog-detail-resume {
  margin-top: 1em;
  padding: {
    left: 10%;
    right: 10%;
    top: 1em;
    bottom: 2em;
  };
  border: 1px solid;
  border-color: #eeeeee;
  font-family: $font-title;
  @include hasta(640px){
    padding: {
      left: 0.5em;
      right: 0.5em;
      top: 1em;
      bottom: 2em;
    };
  };
}

.blog-detail-tags{
  margin-bottom: 1.2em;
}

.blog-detail-tag{
  text-align: center;
  color: color(tercero);
  border: 1px solid;
  border-color: color(primero);
  border-radius: 20px;
  margin: 0.5em;
  padding: {
    top: 0.5em;
    bottom: 0.5em;
    left: 2em;
    right: 2em;
  };
  @include hasta(640px){
    padding: 0.5em;
  };
}

.blog-detail__suscription{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 2em;
  &__title{
    font-family: $font-text;
    color: color(tercero);
    text-align: center;
  }
  &__input{
    margin: 0px;
    width: 20%;
    @include hasta(720px){
      width: 70%;
    };
  }
  &__btn{
    background: color(primero);
    color: color(blanco);
    padding: {
      top: 0.65em;
      bottom: 0.65em;
      left: 2em;
      right: 2em;
    };
    border: none;
    @include hasta(720px){
      padding: {
        top: 0.65em;
        bottom: 0.65em;
        left: 1em;
        right: 1em;
      };
    };
    &:hover{
      background: color(tercero);
      cursor: pointer;;
    }
  }
}
