.header {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  background: #f5f5f5;
  padding-left: 15%;
  padding-right: 15%;
  box-shadow: -1px 1px 10px 3px rgba(102,99,102,0.29);
  z-index: 200;
  @include hasta(640px){
    top: 2.5em;
  };
  &__logo{
    font-size: 2em;
    &__link{
      color: color(primero);
    }
  }
}

.header-left{
  @include hasta(1024px){
    display: none;
  };
}

.top-bar, .top-bar ul {
  background: #fafafa;
}

.title-bar{
  position: fixed;
  width: 100%;
}

.menu__item{
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
  @include hasta(640px){
    display: block;
    width: 100%;
  };
  @include desde_hasta(640px,1024px){
    padding-left: 0.1em;
    padding-right: 0.1em;
  };
  &:hover{
    background: color(primero);
    color: color(blanco);
    border-radius: 5px;
  }
  &__link{
    &:hover{
      color: color(blanco);
    }
  }
}

.header_space{
  height: 5em;
}
